<head>
  <meta charset="utf-8">
  <title>Home Page</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="stylesheet" type="text/css" href="/css/parallax.css">
  <script src="/js/barba.min.js" type="text/javascript"></script>
  <script src="/js/jquery-3.1.1.min.js"></script>
</head>
