<nav class="frame-S-nav menu-B">
    <div class="menu-S-logo">
        <img class="logo-B" src="/img/jen_larissa-black.png" alt="">
    </div>
    <div class="menu-S-nav">
      <a href="#" class="menu-S-option navlink-B">CONTACT</a>
      <a href="#" class="menu-S-option navlink-B">BLOG</a>
      <a href="/portfolio" class="menu-S-option navlink-B">PORTFOLIO</a>
      <a href="about" class="menu-S-option navlink-B">ABOUT</a>
      <a href="/" class="menu-S-option navlink-B">HOME</a>
    </div>
</nav>
