<!-- {{> _htmlOpening}}

  {{> _header}}
  <p>Some text here</p>
  {{> _footer}}

{{> _htmlClosing}} -->

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>About us - Transitions test - Barba.js</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.min.css">
        <link rel="stylesheet" href="style.css">

        <script src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
        <script src="barba.min.js"></script>
        <script src="index.js"></script>
    </head>

    <body>

        <div id="barba-wrapper">
            <div class="barba-container">
                <header class="header">
                    <h1>I'm the title of the &ldquo;About&rdquo; page!</h1>
                    <h2>And I'm <em>still</em> a subtitle.</h2>
                    <p>
                        Chambray fixie bitters cold-pressed authentic master cleanse, brunch pabst tousled YOLO VHS semiotics vegan. Meh typewriter migas, twee church-key pork belly beard PBR&B tumblr kogi hoodie shoreditch. Health goth kinfolk deep v semiotics hella post-ironic. Deep v quinoa synth fixie farm-to-table. Gentrify williamsburg locavore, fanny pack mumblecore twee selfies hoodie kitsch shabby chic trust fund intelligentsia gluten-free distillery. Bushwick authentic distillery hoodie try-hard. Skateboard mustache marfa chicharrones keffiyeh, fap try-hard.
                    </p>
                </header>

                <a href="index.html" title="Home" class="btn">Go to another page</a>
            </div>
        </div>

    </body>
</html>
