<!DOCTYPE html>
<html class"background-img">
  {{> _head}}
  <body>
    <div id="barba-wrapper">
        <div class="barba-container">
        <div class="full-frame-container">
            <div class="sharp_background"></div>
        </div>
        <div class="js-background full-frame-container">
            <div class="blur_background"></div>
        </div>
        <div class="full-frame-container">
          <div class="container">
            <div class="item">
              <img class="name-plaque" src="/img/plaque.png" alt="">
              <div class="button-container">
                <a class="btn-lg center" title="Portfolio" style="transform: translate(10px)" href="/portfolio">
                  ENTER WEBSITE
                </a>
              </div>
            </div>
          </div>
        </div>
        <img src="/img/landing_background.jpg" alt="Book" id="bg" style="display:none;"/>
      </div>
    </div>


    <script src="/js/landingPage.js"></script>
  </body>
</html>
