<!DOCTYPE html>
<html class"background-img">
  <head>
    <meta charset="utf-8">
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/parallax.css">
    <!-- <script src="/js/barba.min.js" type="text/javascript"></script> -->
    <script src="/js/jquery-3.1.1.min.js"></script>
  </head>
  <body>
      <div id="engagements" class="container background parallax" style="background-image:url('/img/engagements_cover.jpg');" data-img-width="1600" data-img-height="1064" data-diff="100">
          <div class="content-a">
              <div class="content-b">
                  <h1>ENGAGEMENTS</h1>
                  <div class="side-bar-nav">
                    <a href="#engagements">
                      <div class="btn-round">
                        <span class="title">ENGAGEMENTS</span>
                      </div>
                    </a>
                    <a href="#bridals">
                      <div class="btn-round">
                        <span class="title">BRIDALS</span>
                      </div>
                    </a>
                    <a href="#weddings">
                      <div class="btn-round">
                        <span class="title">WEDDINGS</span>
                      </div>
                    </a>
                    <a href="#portraits">
                      <div class="btn-round">
                        <span class="title">PORTRAITS</span>
                      </div>
                    </a>
                  </div>
              </div>
          </div>
          <div class="scroll-container">
            <a class="scroll-anchor" href="#bridals">
              <span></span>
              <p class="center scroll-text">SCROLL DOWN</p>
            </a>

          </div>
      </div>
      <div id="bridals" class="container background parallax" style="background-image:url('/img/bridals_cover.jpg');" data-img-width="1600" data-img-height="1064" data-diff="100">
          <div class="content-a">
              <div class="content-b">
                  <h1>BRIDALS</h1>
              </div>
          </div>
          <div class="scroll-container">
            <a class="scroll-anchor" href="#weddings">
              <span></span>
              <p class="center scroll-text">SCROLL DOWN</p>
            </a>
          </div>
      </div>
      <div id="weddings" class="container background parallax" style="background-image:url('/img/weddings_cover.jpg');" data-img-width="1600" data-img-height="1064" data-diff="100">
          <div class="content-a">
              <div class="content-b">
                  <h1>WEDDINGS</h1>
              </div>
          </div>
          <div class="scroll-container">
            <a class="scroll-anchor" href="#portraits">
              <span></span>
              <p class="center scroll-text">SCROLL DOWN</p>
            </a>
          </div>
      </div>
      <div id="portraits" class="container background parallax" style="background-image:url('/img/portraits_cover.jpg');" data-img-width="1600" data-img-height="1064" data-diff="100">
          <div class="content-a">
              <div class="content-b">
                  <h1>PORTRAITS</h1>
              </div>
          </div>
          <div class="scroll-container up">
            <a class="scroll-anchor" href="#engagements">
              <span class="upArrow"></span>
              <p class="center scroll-text">SCROLL TOP</p>
            </a>
          </div>
      </div>
    <script src="/js/portfolio.js"></script>
    <script src="/js/parallax.js"></script>
  </body>
</html>
